@import "tailwindcss";
@plugin "daisyui" {
  themes: cupcake --default, black --prefersdark, cupcake, retro, dark, dim;
}

html[data-theme="black"] {
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --depth: 1;
}

html[data-theme="cupcake"] {
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
}
